<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='{{url_for('static', filename='index.css')}}'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    <script lang="js">
        function main() {
            let input = document.getElementById("main-input");
            let url = document.getElementById("main-input").value;
            let mainBox = document.getElementById("main-box");
            if (url === "") {
                if (input.placeholder === "Please enter a valid URL!") {
                    input.placeholder = "Come on, enter a valid URL!";
                }
                else {
                    input.placeholder = "Please enter a valid URL!";
                };
                if (mainBox.classList.contains("shake")) {
                    mainBox.classList.remove("shake");
                    mainBox.classList.add("shake-reverse");
                }
                else if (mainBox.classList.contains("shake-reverse")) {
                    mainBox.classList.remove("shake-reverse");
                    mainBox.classList.add("shake");
                }
                else {
                    mainBox.classList.add("shake");
                };
                // mainBox.style.animation = "shake 0.5s";
                // mainBox.classList.add("shake");
            };
            input.addEventListener("keypress", function() {
                mainBox.classList.remove("shake");
                mainBox.classList.remove("shake-reverse");
                input.placeholder = "Enter a valid YouTube video link";
            });
        }
    </script>
    <div class="center-container" style="margin-top: 20%;">
        <h1 class="heading display-5" id="main-heading" style="padding-bottom: 3px !important;">YouTube Video Downloader</h1>
        <div class="input-group input-group-lg" id="main-box">
            <input style="box-shadow: 0px 1px 5px -2px black !important;" id="main-input" type="text" class="form-control" placeholder="Enter a valid YouTube video link" aria-label="" aria-describedby="button-addon2">
            <button style="box-shadow: 0px 1px 5px -2px black !important;" class="btn btn-danger" type="submit" id="button-addon2" onclick="main()">Convert</button>
        </div>
    </div>
</body>
</html>